USE [master]
GO
/****** Object:  Database [Safe_Audit]    Script Date: 2026-03-03 9:03:06 PM ******/
CREATE DATABASE [Safe_Audit]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Restaurant_Settlement', FILENAME = N'C:\THINKER\Restaurant_Settlement\Restaurant_Settlement_Data.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Restaurant_Settlement_log', FILENAME = N'C:\THINKER\Restaurant_Settlement\Restaurant_Settlement_Log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Safe_Audit].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Safe_Audit]
GO
/****** Object:  User [THINKER]    Script Date: 2026-03-03 9:03:06 PM ******/
CREATE USER [THINKER] FOR LOGIN [THINKER] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  UserDefinedTableType [dbo].[ExpenseTableType]    Script Date: 2026-03-03 9:03:06 PM ******/
CREATE TYPE [dbo].[ExpenseTableType] AS TABLE(
	[Reason] [nvarchar](255) NULL,
	[Amount] [decimal](18, 2) NULL
)
GO
/****** Object:  UserDefinedTableType [dbo].[PaymentTableType]    Script Date: 2026-03-03 9:03:06 PM ******/
CREATE TYPE [dbo].[PaymentTableType] AS TABLE(
	[MethodID] [int] NULL,
	[Amount] [decimal](18, 2) NULL
)
GO
/****** Object:  Table [dbo].[Payment_Details]    Script Date: 2026-03-03 9:03:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payment_Details](
	[DetailID] [int] IDENTITY(1,1) NOT NULL,
	[ShiftID] [decimal](18, 0) NULL,
	[MethodID] [int] NULL,
	[Amount] [decimal](18, 2) NULL,
	[TransDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[DetailID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PaymentMethods]    Script Date: 2026-03-03 9:03:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PaymentMethods](
	[MethodID] [int] IDENTITY(1,1) NOT NULL,
	[MethodName] [nvarchar](50) NOT NULL,
	[AccountType] [nvarchar](50) NULL,
	[InitialBalance] [decimal](18, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[MethodID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Shift_Settlements]    Script Date: 2026-03-03 9:03:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Shift_Settlements](
	[ShiftID] [decimal](18, 0) NOT NULL,
	[CashierID] [int] NULL,
	[CreatedBy_UserID] [int] NULL,
	[ShiftDate] [datetime] NULL,
	[ShiftType] [nvarchar](20) NULL,
	[SystemAmount] [decimal](18, 2) NULL,
	[ActualCash] [decimal](18, 2) NULL,
	[ActualDigital] [decimal](18, 2) NULL,
	[TotalExpenses] [decimal](18, 2) NULL,
	[FinalDifference] [decimal](18, 2) NULL,
	[StatusNote] [nvarchar](50) NULL,
	[DeviceID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ShiftID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[View_AccountBalances]    Script Date: 2026-03-03 9:03:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[View_AccountBalances]
AS
SELECT 
    PM.MethodID,
    PM.MethodName,
    PM.AccountType,
    ISNULL(PM.InitialBalance, 0) AS OpeningBalance,
    
    ISNULL(PM.InitialBalance, 0) + 
    -- 1. كل الحركات اللي دخلت وخرجت يدوياً (بما فيها مصاريف البنوك)
    ISNULL((SELECT SUM(Amount) FROM Payment_Details WHERE MethodID = PM.MethodID), 0) +
    
    -- 2. نقدية الورديات (للخزنة الرئيسية فقط)
    CASE 
        WHEN PM.MethodID = 5 THEN ISNULL((SELECT SUM(ActualCash) FROM Shift_Settlements), 0)
        ELSE 0 
    END AS CurrentBalance 
FROM 
    dbo.PaymentMethods PM
GROUP BY 
    PM.MethodID, PM.MethodName, PM.AccountType, PM.InitialBalance
GO
/****** Object:  Table [dbo].[Cashiers]    Script Date: 2026-03-03 9:03:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cashiers](
	[CashierID] [int] IDENTITY(1,1) NOT NULL,
	[CashierName] [nvarchar](100) NOT NULL,
	[Phone] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[CashierID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Account_Transactions]    Script Date: 2026-03-03 9:03:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Account_Transactions](
	[TransID] [int] IDENTITY(1,1) NOT NULL,
	[AccountID] [int] NOT NULL,
	[TransType] [nvarchar](20) NULL,
	[Category] [nvarchar](50) NULL,
	[ResponsiblePerson] [nvarchar](100) NULL,
	[Amount] [decimal](18, 2) NULL,
	[TransDate] [datetime] NULL,
	[Notes] [nvarchar](max) NULL,
	[CashierID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[TransID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[View_CashierDebts]    Script Date: 2026-03-03 9:03:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[View_CashierDebts]
AS
SELECT 
    C.CashierID,
    C.CashierName,
    -- 1. إجمالي العجز: بنحسب القيم اللي مكتوب في ملاحظاتها "عجز"
    ISNULL((SELECT SUM(Amount) FROM (
        SELECT CashierID, FinalDifference AS Amount, StatusNote 
        FROM Shift_Settlements
    ) AS T WHERE T.CashierID = C.CashierID AND T.StatusNote LIKE N'%عجز%'), 0) AS TotalShortage,
    
    -- 2. إجمالي السداد: (زي ما هو)
    ISNULL((SELECT SUM(Amount) FROM Account_Transactions 
            WHERE CashierID = C.CashierID AND Category LIKE N'سداد عجز كاشير%'), 0) AS TotalPaid,
            
    -- 3. المديونية المتبقية: (طرح الإثنين من بعض)
    ISNULL((SELECT SUM(FinalDifference) FROM Shift_Settlements 
            WHERE CashierID = C.CashierID AND StatusNote LIKE N'%عجز%'), 0) - 
    ISNULL((SELECT SUM(Amount) FROM Account_Transactions 
            WHERE CashierID = C.CashierID AND Category LIKE N'سداد عجز كاشير%'), 0) AS RemainingDebt
FROM 
    dbo.Cashiers C
GO
/****** Object:  View [dbo].[View_CashierTransactions_Details]    Script Date: 2026-03-03 9:03:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[View_CashierTransactions_Details]
AS
-- 1. جزء العجوزات (بناءً على النص في الملاحظات وليس الإشارة السالبة)
SELECT 
    CashierID, 
    ShiftDate AS TransDate, 
    N'عجز وردية' AS TransType, 
    ISNULL(FinalDifference, 0) AS Amount, -- هنا القيمة موجبة كما ذكرت
    StatusNote AS Notes
FROM dbo.Shift_Settlements
WHERE StatusNote LIKE N'%عجز%' -- البحث عن كلمة عجز داخل الملاحظات

UNION ALL

-- 2. جزء السدادات
SELECT 
    CashierID, 
    TransDate, 
    N'سداد نقدي' AS TransType, 
    Amount,
    Notes
FROM dbo.Account_Transactions
WHERE Category LIKE N'سداد عجز كاشير%'
GO
/****** Object:  Table [dbo].[Account_Transfers]    Script Date: 2026-03-03 9:03:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Account_Transfers](
	[TransferID] [int] IDENTITY(1,1) NOT NULL,
	[FromAccountID] [int] NULL,
	[ToAccountID] [int] NULL,
	[Amount] [decimal](18, 2) NULL,
	[TransferDate] [datetime] NULL,
	[Notes] [nvarchar](250) NULL,
PRIMARY KEY CLUSTERED 
(
	[TransferID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[App_Users]    Script Date: 2026-03-03 9:03:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[App_Users](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](100) NULL,
	[UserName] [nvarchar](50) NULL,
	[Password] [nvarchar](50) NULL,
	[RoleID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cash_Denominations]    Script Date: 2026-03-03 9:03:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cash_Denominations](
	[DenomID] [int] IDENTITY(1,1) NOT NULL,
	[ShiftID] [decimal](18, 0) NULL,
	[F200] [int] NULL,
	[F100] [int] NULL,
	[F50] [int] NULL,
	[F20] [int] NULL,
	[F10] [int] NULL,
	[F5] [int] NULL,
	[F1] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[DenomID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cashier_Devices]    Script Date: 2026-03-03 9:03:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cashier_Devices](
	[DeviceID] [int] IDENTITY(1,1) NOT NULL,
	[DeviceName] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[DeviceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Expenses_Details]    Script Date: 2026-03-03 9:03:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Expenses_Details](
	[ExpenseID] [int] IDENTITY(1,1) NOT NULL,
	[ShiftID] [decimal](18, 0) NULL,
	[Reason] [nvarchar](255) NULL,
	[Amount] [decimal](18, 2) NULL,
	[ExpenseDate] [datetime] NULL,
	[MethodID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ExpenseID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 2026-03-03 9:03:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[RoleID] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RoleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Safe_Log]    Script Date: 2026-03-03 9:03:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Safe_Log](
	[LogID] [int] IDENTITY(1,1) NOT NULL,
	[LogDate] [datetime] NULL,
	[ShiftID] [decimal](18, 0) NULL,
	[TransactionType] [nvarchar](50) NULL,
	[AmountIn] [decimal](18, 2) NULL,
	[AmountOut] [decimal](18, 2) NULL,
	[CurrentBalance] [decimal](18, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[LogID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Shift_Edit_Log]    Script Date: 2026-03-03 9:03:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Shift_Edit_Log](
	[LogID] [int] IDENTITY(1,1) NOT NULL,
	[ShiftID] [decimal](18, 0) NOT NULL,
	[EditDate] [datetime] NULL,
	[UserID] [int] NULL,
	[OldCash] [decimal](18, 2) NULL,
	[OldDigital] [decimal](18, 2) NULL,
	[OldExpenses] [decimal](18, 2) NULL,
	[OldSystem] [decimal](18, 2) NULL,
	[NewCash] [decimal](18, 2) NULL,
	[NewDigital] [decimal](18, 2) NULL,
	[NewExpenses] [decimal](18, 2) NULL,
	[NewSystem] [decimal](18, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[LogID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 2026-03-03 9:03:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](50) NOT NULL,
	[FullName] [nvarchar](100) NULL,
	[IsActive] [bit] NULL,
	[UserRole] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Account_Transactions] ON 

INSERT [dbo].[Account_Transactions] ([TransID], [AccountID], [TransType], [Category], [ResponsiblePerson], [Amount], [TransDate], [Notes], [CashierID]) VALUES (1, 1, N'Withdraw', N'مصروفات من العهدة (صرف)', N'محمد', CAST(50.00 AS Decimal(18, 2)), CAST(N'2026-03-02T18:42:38.057' AS DateTime), N'بجريبي', NULL)
INSERT [dbo].[Account_Transactions] ([TransID], [AccountID], [TransType], [Category], [ResponsiblePerson], [Amount], [TransDate], [Notes], [CashierID]) VALUES (2, 5, N'Withdraw', N'توريد لصاحب المال (صرف)', N'محمد عاطف', CAST(10000.00 AS Decimal(18, 2)), CAST(N'2026-03-03T11:19:36.383' AS DateTime), N'بجريبي 2', NULL)
INSERT [dbo].[Account_Transactions] ([TransID], [AccountID], [TransType], [Category], [ResponsiblePerson], [Amount], [TransDate], [Notes], [CashierID]) VALUES (3, 1, N'Deposit', N'سداد عجز كاشير (قبض)', N'محمود علي', CAST(15.00 AS Decimal(18, 2)), CAST(N'2026-03-03T11:41:34.837' AS DateTime), N'تسديد تجريبي', 2)
SET IDENTITY_INSERT [dbo].[Account_Transactions] OFF
GO
SET IDENTITY_INSERT [dbo].[Account_Transfers] ON 

INSERT [dbo].[Account_Transfers] ([TransferID], [FromAccountID], [ToAccountID], [Amount], [TransferDate], [Notes]) VALUES (1, 2, 3, CAST(200.00 AS Decimal(18, 2)), CAST(N'2026-03-03T11:14:06.737' AS DateTime), N'تجريبي')
SET IDENTITY_INSERT [dbo].[Account_Transfers] OFF
GO
SET IDENTITY_INSERT [dbo].[App_Users] ON 

INSERT [dbo].[App_Users] ([UserID], [FullName], [UserName], [Password], [RoleID]) VALUES (1, N'المدير العام', N'admin', N'123', 1)
SET IDENTITY_INSERT [dbo].[App_Users] OFF
GO
SET IDENTITY_INSERT [dbo].[Cash_Denominations] ON 

INSERT [dbo].[Cash_Denominations] ([DenomID], [ShiftID], [F200], [F100], [F50], [F20], [F10], [F5], [F1]) VALUES (1, CAST(1 AS Decimal(18, 0)), 20, 20, 20, 20, 20, 20, 20)
INSERT [dbo].[Cash_Denominations] ([DenomID], [ShiftID], [F200], [F100], [F50], [F20], [F10], [F5], [F1]) VALUES (2, CAST(2 AS Decimal(18, 0)), 50, 5, 4, 3, 2, 1, 0)
INSERT [dbo].[Cash_Denominations] ([DenomID], [ShiftID], [F200], [F100], [F50], [F20], [F10], [F5], [F1]) VALUES (3, CAST(3 AS Decimal(18, 0)), 40, 20, 20, 15, 9, 1, 0)
SET IDENTITY_INSERT [dbo].[Cash_Denominations] OFF
GO
SET IDENTITY_INSERT [dbo].[Cashier_Devices] ON 

INSERT [dbo].[Cashier_Devices] ([DeviceID], [DeviceName]) VALUES (1, N'بيك اواي 1')
INSERT [dbo].[Cashier_Devices] ([DeviceID], [DeviceName]) VALUES (2, N'بيك اواي 2')
INSERT [dbo].[Cashier_Devices] ([DeviceID], [DeviceName]) VALUES (3, N'بيك اواي 3')
SET IDENTITY_INSERT [dbo].[Cashier_Devices] OFF
GO
SET IDENTITY_INSERT [dbo].[Cashiers] ON 

INSERT [dbo].[Cashiers] ([CashierID], [CashierName], [Phone]) VALUES (1, N'أحمد محمد على', N'01012345678')
INSERT [dbo].[Cashiers] ([CashierID], [CashierName], [Phone]) VALUES (2, N'محمد محمود علي', N'01212345678')
SET IDENTITY_INSERT [dbo].[Cashiers] OFF
GO
SET IDENTITY_INSERT [dbo].[Expenses_Details] ON 

INSERT [dbo].[Expenses_Details] ([ExpenseID], [ShiftID], [Reason], [Amount], [ExpenseDate], [MethodID]) VALUES (1, CAST(1 AS Decimal(18, 0)), N'فطار', CAST(500.00 AS Decimal(18, 2)), CAST(N'2026-03-02T15:49:12.133' AS DateTime), NULL)
INSERT [dbo].[Expenses_Details] ([ExpenseID], [ShiftID], [Reason], [Amount], [ExpenseDate], [MethodID]) VALUES (2, CAST(2 AS Decimal(18, 0)), N'غداء', CAST(500.00 AS Decimal(18, 2)), CAST(N'2026-03-02T18:43:40.407' AS DateTime), NULL)
INSERT [dbo].[Expenses_Details] ([ExpenseID], [ShiftID], [Reason], [Amount], [ExpenseDate], [MethodID]) VALUES (3, NULL, N'تجريبي', CAST(50.00 AS Decimal(18, 2)), CAST(N'2026-03-02T18:42:38.057' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[Expenses_Details] OFF
GO
SET IDENTITY_INSERT [dbo].[Payment_Details] ON 

INSERT [dbo].[Payment_Details] ([DetailID], [ShiftID], [MethodID], [Amount], [TransDate]) VALUES (1, CAST(1 AS Decimal(18, 0)), 1, CAST(500.00 AS Decimal(18, 2)), CAST(N'2026-03-02T15:49:12.133' AS DateTime))
INSERT [dbo].[Payment_Details] ([DetailID], [ShiftID], [MethodID], [Amount], [TransDate]) VALUES (2, CAST(1 AS Decimal(18, 0)), 2, CAST(500.00 AS Decimal(18, 2)), CAST(N'2026-03-02T15:49:12.133' AS DateTime))
INSERT [dbo].[Payment_Details] ([DetailID], [ShiftID], [MethodID], [Amount], [TransDate]) VALUES (3, CAST(1 AS Decimal(18, 0)), 3, CAST(200.00 AS Decimal(18, 2)), CAST(N'2026-03-02T15:49:12.133' AS DateTime))
SET IDENTITY_INSERT [dbo].[Payment_Details] OFF
GO
SET IDENTITY_INSERT [dbo].[PaymentMethods] ON 

INSERT [dbo].[PaymentMethods] ([MethodID], [MethodName], [AccountType], [InitialBalance]) VALUES (1, N'انيستا البنك الأهلي', N'حسابات بنكية', CAST(100.00 AS Decimal(18, 2)))
INSERT [dbo].[PaymentMethods] ([MethodID], [MethodName], [AccountType], [InitialBalance]) VALUES (2, N'فودافون كاش 1', N'محافظ إلكترونية', CAST(100.00 AS Decimal(18, 2)))
INSERT [dbo].[PaymentMethods] ([MethodID], [MethodName], [AccountType], [InitialBalance]) VALUES (3, N'انيستا بنك مصر', N'حسابات بنكية', CAST(100.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[PaymentMethods] OFF
GO
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([RoleID], [RoleName]) VALUES (1, N'مدير نظام')
INSERT [dbo].[Roles] ([RoleID], [RoleName]) VALUES (2, N'مدخل بيانات')
SET IDENTITY_INSERT [dbo].[Roles] OFF
GO
SET IDENTITY_INSERT [dbo].[Safe_Log] ON 

INSERT [dbo].[Safe_Log] ([LogID], [LogDate], [ShiftID], [TransactionType], [AmountIn], [AmountOut], [CurrentBalance]) VALUES (1, CAST(N'2026-03-02T15:49:12.133' AS DateTime), CAST(1 AS Decimal(18, 0)), N'تصفية وردية', CAST(7720.00 AS Decimal(18, 2)), CAST(500.00 AS Decimal(18, 2)), CAST(7220.00 AS Decimal(18, 2)))
INSERT [dbo].[Safe_Log] ([LogID], [LogDate], [ShiftID], [TransactionType], [AmountIn], [AmountOut], [CurrentBalance]) VALUES (2, CAST(N'2026-03-02T18:43:40.407' AS DateTime), CAST(2 AS Decimal(18, 0)), N'تصفية وردية', CAST(10785.00 AS Decimal(18, 2)), CAST(500.00 AS Decimal(18, 2)), CAST(17505.00 AS Decimal(18, 2)))
INSERT [dbo].[Safe_Log] ([LogID], [LogDate], [ShiftID], [TransactionType], [AmountIn], [AmountOut], [CurrentBalance]) VALUES (3, CAST(N'2026-03-03T11:07:01.340' AS DateTime), CAST(3 AS Decimal(18, 0)), N'تصفية وردية', CAST(11395.00 AS Decimal(18, 2)), CAST(500.00 AS Decimal(18, 2)), CAST(28400.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[Safe_Log] OFF
GO
INSERT [dbo].[Shift_Settlements] ([ShiftID], [CashierID], [CreatedBy_UserID], [ShiftDate], [ShiftType], [SystemAmount], [ActualCash], [ActualDigital], [TotalExpenses], [FinalDifference], [StatusNote], [DeviceID]) VALUES (CAST(1 AS Decimal(18, 0)), 1, 1, CAST(N'2026-03-02T15:49:12.133' AS DateTime), N'صباحي', CAST(9000.00 AS Decimal(18, 2)), CAST(7720.00 AS Decimal(18, 2)), CAST(1200.00 AS Decimal(18, 2)), CAST(500.00 AS Decimal(18, 2)), CAST(420.00 AS Decimal(18, 2)), N'زيادة بمبلغ: 420.00', 1)
INSERT [dbo].[Shift_Settlements] ([ShiftID], [CashierID], [CreatedBy_UserID], [ShiftDate], [ShiftType], [SystemAmount], [ActualCash], [ActualDigital], [TotalExpenses], [FinalDifference], [StatusNote], [DeviceID]) VALUES (CAST(2 AS Decimal(18, 0)), 2, 1, CAST(N'2026-03-02T18:43:40.407' AS DateTime), N'مسائي', CAST(11850.00 AS Decimal(18, 2)), CAST(10785.00 AS Decimal(18, 2)), CAST(550.00 AS Decimal(18, 2)), CAST(500.00 AS Decimal(18, 2)), CAST(15.00 AS Decimal(18, 2)), N'عجز بمبلغ: 15.00', 2)
INSERT [dbo].[Shift_Settlements] ([ShiftID], [CashierID], [CreatedBy_UserID], [ShiftDate], [ShiftType], [SystemAmount], [ActualCash], [ActualDigital], [TotalExpenses], [FinalDifference], [StatusNote], [DeviceID]) VALUES (CAST(3 AS Decimal(18, 0)), 1, 1, CAST(N'2026-03-03T11:07:01.340' AS DateTime), N'صباحي', CAST(13000.00 AS Decimal(18, 2)), CAST(11395.00 AS Decimal(18, 2)), CAST(1000.00 AS Decimal(18, 2)), CAST(500.00 AS Decimal(18, 2)), CAST(105.00 AS Decimal(18, 2)), N'عجز بمبلغ: 105.00', 4)
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserID], [UserName], [Password], [FullName], [IsActive], [UserRole]) VALUES (1, N'admin', N'123', N'المدير العام', 1, N'Admin')
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__App_User__C9F28456D5757866]    Script Date: 2026-03-03 9:03:06 PM ******/
ALTER TABLE [dbo].[App_Users] ADD UNIQUE NONCLUSTERED 
(
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Account_Transfers] ADD  DEFAULT (getdate()) FOR [TransferDate]
GO
ALTER TABLE [dbo].[Expenses_Details] ADD  DEFAULT (getdate()) FOR [ExpenseDate]
GO
ALTER TABLE [dbo].[Payment_Details] ADD  DEFAULT (getdate()) FOR [TransDate]
GO
ALTER TABLE [dbo].[PaymentMethods] ADD  DEFAULT ((0)) FOR [InitialBalance]
GO
ALTER TABLE [dbo].[Safe_Log] ADD  DEFAULT (getdate()) FOR [LogDate]
GO
ALTER TABLE [dbo].[Safe_Log] ADD  DEFAULT ((0)) FOR [AmountIn]
GO
ALTER TABLE [dbo].[Safe_Log] ADD  DEFAULT ((0)) FOR [AmountOut]
GO
ALTER TABLE [dbo].[Shift_Edit_Log] ADD  DEFAULT (getdate()) FOR [EditDate]
GO
ALTER TABLE [dbo].[Shift_Settlements] ADD  DEFAULT (getdate()) FOR [ShiftDate]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Account_Transactions]  WITH CHECK ADD  CONSTRAINT [FK_AccountTransactions_Cashiers] FOREIGN KEY([CashierID])
REFERENCES [dbo].[Cashiers] ([CashierID])
GO
ALTER TABLE [dbo].[Account_Transactions] CHECK CONSTRAINT [FK_AccountTransactions_Cashiers]
GO
ALTER TABLE [dbo].[Account_Transfers]  WITH CHECK ADD  CONSTRAINT [FK_Account_Transfers_From] FOREIGN KEY([FromAccountID])
REFERENCES [dbo].[PaymentMethods] ([MethodID])
GO
ALTER TABLE [dbo].[Account_Transfers] CHECK CONSTRAINT [FK_Account_Transfers_From]
GO
ALTER TABLE [dbo].[Account_Transfers]  WITH CHECK ADD  CONSTRAINT [FK_Account_Transfers_To] FOREIGN KEY([ToAccountID])
REFERENCES [dbo].[PaymentMethods] ([MethodID])
GO
ALTER TABLE [dbo].[Account_Transfers] CHECK CONSTRAINT [FK_Account_Transfers_To]
GO
ALTER TABLE [dbo].[App_Users]  WITH CHECK ADD FOREIGN KEY([RoleID])
REFERENCES [dbo].[Roles] ([RoleID])
GO
ALTER TABLE [dbo].[Cash_Denominations]  WITH CHECK ADD FOREIGN KEY([ShiftID])
REFERENCES [dbo].[Shift_Settlements] ([ShiftID])
GO
ALTER TABLE [dbo].[Cash_Denominations]  WITH CHECK ADD  CONSTRAINT [FK_Cash_Denominations_Shift] FOREIGN KEY([ShiftID])
REFERENCES [dbo].[Shift_Settlements] ([ShiftID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Cash_Denominations] CHECK CONSTRAINT [FK_Cash_Denominations_Shift]
GO
ALTER TABLE [dbo].[Expenses_Details]  WITH CHECK ADD FOREIGN KEY([ShiftID])
REFERENCES [dbo].[Shift_Settlements] ([ShiftID])
GO
ALTER TABLE [dbo].[Expenses_Details]  WITH CHECK ADD  CONSTRAINT [FK_Expenses_Details_Shift] FOREIGN KEY([ShiftID])
REFERENCES [dbo].[Shift_Settlements] ([ShiftID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Expenses_Details] CHECK CONSTRAINT [FK_Expenses_Details_Shift]
GO
ALTER TABLE [dbo].[Expenses_Details]  WITH CHECK ADD  CONSTRAINT [FK_Expenses_Method] FOREIGN KEY([MethodID])
REFERENCES [dbo].[PaymentMethods] ([MethodID])
GO
ALTER TABLE [dbo].[Expenses_Details] CHECK CONSTRAINT [FK_Expenses_Method]
GO
ALTER TABLE [dbo].[Payment_Details]  WITH CHECK ADD FOREIGN KEY([MethodID])
REFERENCES [dbo].[PaymentMethods] ([MethodID])
GO
ALTER TABLE [dbo].[Payment_Details]  WITH CHECK ADD FOREIGN KEY([MethodID])
REFERENCES [dbo].[PaymentMethods] ([MethodID])
GO
ALTER TABLE [dbo].[Payment_Details]  WITH CHECK ADD FOREIGN KEY([ShiftID])
REFERENCES [dbo].[Shift_Settlements] ([ShiftID])
GO
ALTER TABLE [dbo].[Payment_Details]  WITH CHECK ADD FOREIGN KEY([ShiftID])
REFERENCES [dbo].[Shift_Settlements] ([ShiftID])
GO
ALTER TABLE [dbo].[Payment_Details]  WITH CHECK ADD  CONSTRAINT [FK_Payment_Details_PaymentMethods] FOREIGN KEY([MethodID])
REFERENCES [dbo].[PaymentMethods] ([MethodID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Payment_Details] CHECK CONSTRAINT [FK_Payment_Details_PaymentMethods]
GO
ALTER TABLE [dbo].[Shift_Settlements]  WITH CHECK ADD FOREIGN KEY([CashierID])
REFERENCES [dbo].[Cashiers] ([CashierID])
GO
ALTER TABLE [dbo].[Shift_Settlements]  WITH CHECK ADD FOREIGN KEY([CreatedBy_UserID])
REFERENCES [dbo].[App_Users] ([UserID])
GO
ALTER TABLE [dbo].[Shift_Settlements]  WITH CHECK ADD  CONSTRAINT [FK_Shift_Settlements_Cashiers] FOREIGN KEY([CashierID])
REFERENCES [dbo].[Cashiers] ([CashierID])
GO
ALTER TABLE [dbo].[Shift_Settlements] CHECK CONSTRAINT [FK_Shift_Settlements_Cashiers]
GO
ALTER TABLE [dbo].[Shift_Settlements]  WITH CHECK ADD  CONSTRAINT [FK_Shift_Settlements_Devices] FOREIGN KEY([DeviceID])
REFERENCES [dbo].[Cashier_Devices] ([DeviceID])
GO
ALTER TABLE [dbo].[Shift_Settlements] CHECK CONSTRAINT [FK_Shift_Settlements_Devices]
GO
/****** Object:  StoredProcedure [dbo].[GET_LAST_SHIFT_ID]    Script Date: 2026-03-03 9:03:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GET_LAST_SHIFT_ID]
AS
BEGIN
    -- تغيير Settlements إلى Shift_Settlements
    SELECT ISNULL(MAX(ShiftID), 0) AS LastID  
    FROM Shift_Settlements
END
GO
/****** Object:  StoredProcedure [dbo].[SP_ADD_ACCOUNT]    Script Date: 2026-03-03 9:03:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 2. تعديل إجراء إضافة الحساب ليطابق الـ 3 برامترات اللي في الكود بالظبط
CREATE PROCEDURE [dbo].[SP_ADD_ACCOUNT]
    @Name NVARCHAR(50),      -- يطابق param[0]
    @Type NVARCHAR(50),      -- يطابق param[1]
    @Balance DECIMAL(18,2)   -- يطابق param[2]
AS
BEGIN
    SET NOCOUNT ON;
    INSERT INTO PaymentMethods (MethodName, AccountType, InitialBalance)
    VALUES (@Name, @Type, @Balance);
END
GO
/****** Object:  StoredProcedure [dbo].[SP_ADD_DEVICE]    Script Date: 2026-03-03 9:03:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_ADD_DEVICE]
    @DeviceName nvarchar(100)
AS
BEGIN
    SET NOCOUNT ON;
    
    INSERT INTO [dbo].[Cashier_Devices] (DeviceName)
    VALUES (@DeviceName);
END
GO
/****** Object:  StoredProcedure [dbo].[SP_AddFinancialTransaction]    Script Date: 2026-03-03 9:03:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_AddFinancialTransaction]
    @AccountID INT,
    @Type NVARCHAR(20),      
    @Category NVARCHAR(50),
    @ResponsiblePerson NVARCHAR(100),
    @Amount DECIMAL(18,2),
    @TransDate DATETIME,
    @Notes NVARCHAR(MAX),
    @CashierID INT = NULL    
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRANSACTION
    BEGIN TRY
        -- 1. تسجيل الحركة في سجل الحركات
        INSERT INTO [dbo].[Account_Transactions] ([AccountID], [TransType], [Category], [ResponsiblePerson], [Amount], [TransDate], [Notes], [CashierID])
        VALUES (@AccountID, @Type, @Category, @ResponsiblePerson, @Amount, @TransDate, @Notes, @CashierID);

        -- 2. تسجيل الحركة في تفاصيل الدفع (المسؤول عن الرصيد في الـ View)
        DECLARE @FinalAmount DECIMAL(18,2) = CASE WHEN @Type = 'Deposit' THEN @Amount ELSE -@Amount END;
        
        INSERT INTO [dbo].[Payment_Details] (MethodID, Amount, TransDate)
        VALUES (@AccountID, @FinalAmount, @TransDate);

        -- 3. تسجيل في جدول المصروفات للتقارير (بنسجل الـ AccountID عشان نعرف المصدر)
        IF (@Type = 'Withdraw')
        BEGIN
            INSERT INTO [dbo].[Expenses_Details] (ShiftID, Reason, Amount, ExpenseDate, MethodID)
            VALUES (NULL, @Category + ' - ' + @Notes, @Amount, @TransDate, @AccountID);
        END

        COMMIT TRANSACTION
    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION
        THROW;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[SP_EDIT_DEVICE]    Script Date: 2026-03-03 9:03:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_EDIT_DEVICE]
    @DeviceID int,
    @DeviceName nvarchar(100)
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE [dbo].[Cashier_Devices]
    SET DeviceName = @DeviceName
    WHERE DeviceID = @DeviceID;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GET_ACCOUNT_STATEMENT]    Script Date: 2026-03-03 9:03:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_GET_ACCOUNT_STATEMENT]
    @MethodID INT,
    @FromDate DATE,
    @ToDate DATE
AS
BEGIN
    SET NOCOUNT ON;

    -- 1. نجيب الرصيد الافتتاحي من جدول الحسابات
    DECLARE @InitialBal DECIMAL(18,2) = ISNULL((SELECT InitialBalance FROM PaymentMethods WHERE MethodID = @MethodID), 0);

    -- 2. نجمع الحركات ونحسب التراكمي قبل الفلترة
    WITH AllTransactions AS (
        -- الرصيد الافتتاحي كأول حركة في تاريخ الحساب
        SELECT CAST('2000-01-01' AS DATETIME) AS TransDate, N'رصيد افتتاحي' AS [البيان], 
               CASE WHEN @InitialBal > 0 THEN @InitialBal ELSE 0 END AS [وارد],
               CASE WHEN @InitialBal < 0 THEN ABS(@InitialBal) ELSE 0 END AS [منصرف], 
               @InitialBal AS Amount

        UNION ALL

        -- الحركات المالية
        SELECT TransDate, 
               N'حركة مالية: ' + ISNULL((SELECT TOP 1 Category FROM Account_Transactions AT WHERE AT.AccountID = PD.MethodID AND AT.TransDate = PD.TransDate), N'تحويل'), 
               CASE WHEN Amount > 0 THEN Amount ELSE 0 END,
               CASE WHEN Amount < 0 THEN ABS(Amount) ELSE 0 END, 
               Amount
        FROM Payment_Details PD WHERE MethodID = @MethodID

        UNION ALL

        -- نقدية الوردية
        SELECT ShiftDate, N'تصفية وردية رقم ' + CAST(ShiftID AS NVARCHAR(10)), ActualCash, 0, ActualCash
        FROM Shift_Settlements WHERE @MethodID = 5
    ),
    CalculatedTable AS (
        -- حساب الرصيد التراكمي لكل تاريخ الحساب
        SELECT *, 
        SUM(Amount) OVER (ORDER BY TransDate, (SELECT NULL) ROWS BETWEEN UNBOUNDED PRECEDING AND CURRENT ROW) as [الرصيد التراكمي] 
        FROM AllTransactions
    )
    -- 3. الفلترة النهائية للعرض فقط (عشان تظهر الفترة اللي أنت عايزها بس)
    SELECT * FROM CalculatedTable
    WHERE CAST(TransDate AS DATE) BETWEEN @FromDate AND @ToDate
    OR [البيان] = N'رصيد افتتاحي' -- اختياري: لو عايز الافتتاحي يظهر دايماً
    ORDER BY TransDate;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GET_ALL_ACCOUNTS]    Script Date: 2026-03-03 9:03:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_GET_ALL_ACCOUNTS]
AS
BEGIN
    SELECT 
        MethodID, 
        MethodName, 
        AccountType, 
        OpeningBalance, 
        CurrentBalance 
    FROM View_AccountBalances;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GET_ALL_CASHIERS]    Script Date: 2026-03-03 9:03:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_GET_ALL_CASHIERS]
AS
BEGIN
    SELECT CashierID AS [كود الكاشير], CashierName AS [اسم الكاشير], Phone AS [رقم الهاتف] FROM Cashiers;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GET_ALL_DEVICES]    Script Date: 2026-03-03 9:03:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_GET_ALL_DEVICES]
AS
BEGIN
    SELECT DeviceID, DeviceName FROM Cashier_Devices;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GET_CASH_DENOMINATIONS_BY_ID]    Script Date: 2026-03-03 9:03:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_GET_CASH_DENOMINATIONS_BY_ID]
    @ShiftID DECIMAL(18,0)
AS
BEGIN
    SET NOCOUNT ON;
    -- جلب فئات النقدية من الجدول المخصص لها
    SELECT F200, F100, F50, F20, F10, F5, F1 
    FROM Cash_Denominations 
    WHERE ShiftID = @ShiftID;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GET_EDIT_LOGS]    Script Date: 2026-03-03 9:03:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE PROCEDURE [dbo].[SP_GET_EDIT_LOGS]
    @From DateTime,
    @To DateTime
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        L.LogID AS [مسلسل],
        L.ShiftID AS [رقم الوردية],
        L.EditDate AS [تاريخ التعديل],
        ISNULL(U.FullName, N'غير معروف') AS [القائم بالتعديل],
        
        -- رصيد النظام (المبلغ المفترض)
        L.OldSystem AS [رصيد النظام السابق],
        L.NewSystem AS [رصيد النظام الحالي],

        -- مبالغ الكاش (الفعلي)
        L.OldCash AS [الكاش السابق],
        L.NewCash AS [الكاش الحالي],
        
        -- العجز والزيادة (الناتج النهائي)
        -- حسبة العجز السابق: (الكاش + الرقمي) - (النظام + المصروفات)
        --(ISNULL(L.OldCash,0) + ISNULL(L.OldDigital,0)) - (ISNULL(L.OldSystem,0) + ISNULL(L.OldExpenses,0)) AS [عجز سابق],
        (  ISNULL(L.OldDigital,0)) + (ISNULL(L.OldCash,0) + ISNULL(L.OldExpenses,0)-ISNULL(L.OldSystem,0)) AS [عجز سابق],
        --(ISNULL(L.NewCash,0) + ISNULL(L.NewDigital,0)) - (ISNULL(L.NewSystem,0) + ISNULL(L.NewExpenses,0)) AS [عجز حالي],
        (  ISNULL(L.NewDigital,0)) + (ISNULL(L.NewCash,0) + ISNULL(L.NewExpenses,0)-ISNULL(L.NewSystem,0)) AS [عجز حالي],
        
        -- بقية تفاصيل الحركة
        L.OldDigital AS [الرقمي السابق],
        L.NewDigital AS [الرقمي الحالي],
        L.OldExpenses AS [المصروفات السابقة],
        L.NewExpenses AS [المصروفات الحالية]

    FROM Shift_Edit_Log L
    LEFT JOIN Users U ON L.UserID = U.UserID 
    
    WHERE CAST(L.EditDate AS DATE) BETWEEN CAST(@From AS DATE) AND CAST(@To AS DATE)
    ORDER BY L.EditDate DESC
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GET_EXPENSES_BY_ID]    Script Date: 2026-03-03 9:03:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 2. جلب تفاصيل المصروفات
CREATE PROCEDURE [dbo].[SP_GET_EXPENSES_BY_ID]
    @ShiftID int
AS
BEGIN
    SELECT * FROM Expenses_Details WHERE ShiftID = @ShiftID
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GET_PAYMENTS_BY_ID]    Script Date: 2026-03-03 9:03:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- 1. جلب تفاصيل المدفوعات (الفيزا، انستا، الخ)
CREATE PROCEDURE [dbo].[SP_GET_PAYMENTS_BY_ID]
    @ShiftID int
AS
BEGIN
    SELECT * FROM Payment_Details WHERE ShiftID = @ShiftID
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GET_SETTLEMENT_BY_ID]    Script Date: 2026-03-03 9:03:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_GET_SETTLEMENT_BY_ID]
    @ShiftID int
AS
BEGIN
    SELECT * FROM Shift_Settlements WHERE ShiftID = @ShiftID
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GET_SETTLEMENT_PAYMENTS_FOR_EDIT]    Script Date: 2026-03-03 9:03:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_GET_SETTLEMENT_PAYMENTS_FOR_EDIT]
    @ShiftID DECIMAL(18,0)
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        PD.MethodID, 
        PD.DetailID, 
        PM.MethodName, -- جلب الاسم من جدول الطرق
        PD.Amount
    FROM Payment_Details PD
    INNER JOIN PaymentMethods PM ON PD.MethodID = PM.MethodID
    WHERE PD.ShiftID = @ShiftID
    ORDER BY PD.DetailID ASC;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GET_TRANSFERS_BY_DATE]    Script Date: 2026-03-03 9:03:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_GET_TRANSFERS_BY_DATE]
    @SearchDate DATE -- البارامتر الذي سنرسله من البرنامج
AS
BEGIN
    SELECT 
        T.TransferID,
        -- جلب اسم حساب المصدر
        F.MethodName AS FromAccount, 
        -- جلب اسم حساب الوجهة
        ToAcc.MethodName AS ToAccount, 
        T.Amount,
        T.TransferDate,
        T.Notes
    FROM Account_Transfers T
    -- ربط لجلب اسم الحساب المحول منه
    INNER JOIN PaymentMethods F ON T.FromAccountID = F.MethodID
    -- ربط لجلب اسم الحساب المحول إليه
    INNER JOIN PaymentMethods ToAcc ON T.ToAccountID = ToAcc.MethodID
    -- الفلترة بالتاريخ (تحويل DateTime لـ Date للمقارنة اليومية فقط)
    WHERE CAST(T.TransferDate AS DATE) = @SearchDate
    ORDER BY T.TransferDate DESC -- إظهار الأحدث أولاً
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GetCashierDebt]    Script Date: 2026-03-03 9:03:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_GetCashierDebt]
    @CashierID INT
AS
BEGIN
    SET NOCOUNT ON;
    -- جلب المديونية المتبقية من الفيو اللي أنت أكدت إنه شغال
    SELECT ISNULL(RemainingDebt, 0) AS RemainingDebt 
    FROM View_CashierDebts 
    WHERE CashierID = @CashierID;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GetCashierTransactionsReport]    Script Date: 2026-03-03 9:03:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_GetCashierTransactionsReport]
    @ID INT
AS
BEGIN
    SET NOCOUNT ON;
    -- استدعاء البيانات من الـ View اللي أنت عاملها فعلياً في السكربت
    SELECT 
        TransDate AS [التاريخ], 
        TransType AS [النوع], 
        Amount AS [المبلغ], 
        Notes AS [ملاحظات]
    FROM View_CashierTransactions_Details
    WHERE CashierID = @ID
    ORDER BY TransDate DESC;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GetDashboardSummary]    Script Date: 2026-03-03 9:03:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/****** 4. ملخص الأرصدة للجدول ******/
CREATE   PROC [dbo].[SP_GetDashboardSummary]
AS
BEGIN
    SELECT 
        MethodName AS [اسم الحساب], 
        CurrentBalance AS [الرصيد الحالي], 
        AccountType AS [النوع] 
    FROM View_AccountBalances
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GetTotalCash]    Script Date: 2026-03-03 9:03:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/****** 1. إجمالي النقدية اليوم ******/
CREATE   PROC [dbo].[SP_GetTotalCash]
AS
BEGIN
    SELECT ISNULL(SUM(CurrentBalance), 0) 
    FROM View_AccountBalances 
    WHERE AccountType = N'نقدي'
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GetTotalDigital]    Script Date: 2026-03-03 9:03:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/****** 2. إجمالي الرقمي اليوم ******/
CREATE   PROC [dbo].[SP_GetTotalDigital]
AS
BEGIN
    SELECT ISNULL(SUM(CurrentBalance), 0) 
    FROM View_AccountBalances 
    WHERE AccountType != N'نقدي'
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GetTotalExpenses]    Script Date: 2026-03-03 9:03:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/****** 3. إجمالي مصروفات اليوم (الحل الذكي لعدم تراكم الأرقام) ******/
CREATE   PROC [dbo].[SP_GetTotalExpenses]
AS
BEGIN
    SELECT ISNULL(SUM(Amount), 0) 
    FROM Expenses_Details
    WHERE CAST(ExpenseDate AS DATE) = CAST(GETDATE() AS DATE)
END
GO
/****** Object:  StoredProcedure [dbo].[SP_MAKE_TRANSFER]    Script Date: 2026-03-03 9:03:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_MAKE_TRANSFER]
    @FromID INT, 
    @ToID INT, 
    @Amount DECIMAL(18,2), 
    @Date DATETIME, 
    @Note NVARCHAR(250)
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRANSACTION;
    BEGIN TRY
        -- 1. تسجيل التحويل في الجدول الرئيسي
        INSERT INTO Account_Transfers (FromAccountID, ToAccountID, Amount, TransferDate, Notes)
        VALUES (@FromID, @ToID, @Amount, @Date, @Note);

        -- 2. الخصم والإضافة في جدول التفاصيل
        INSERT INTO Payment_Details (MethodID, Amount, TransDate)
        VALUES (@FromID, -@Amount, @Date);

        INSERT INTO Payment_Details (MethodID, Amount, TransDate)
        VALUES (@ToID, @Amount, @Date);

        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        -- هذا السطر يحل مشكلة Transaction count mismatch المسجلة في الصورة
        IF @@TRANCOUNT > 0 ROLLBACK TRANSACTION;
        THROW;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[SP_SAVE_CASHIER]    Script Date: 2026-03-03 9:03:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_SAVE_CASHIER]
    @ID INT, 
    @Name NVARCHAR(100),
    @Phone NVARCHAR(20)
AS
BEGIN
    IF @ID = 0
        INSERT INTO Cashiers (CashierName, Phone) VALUES (@Name, @Phone);
    ELSE
        UPDATE Cashiers SET CashierName = @Name, Phone = @Phone WHERE CashierID = @ID;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_SAVE_FULL_SETTLEMENT]    Script Date: 2026-03-03 9:03:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[SP_SAVE_FULL_SETTLEMENT]
    @ShiftID decimal(18,0),
    @CashierID int,
    @DeviceID int,
    @UserID int,
    @Date datetime, -- تم التعديل ليطابق C#
    @Type nvarchar(20), -- تم التعديل ليطابق C#
    @SysAmt decimal(18,2), -- تم التعديل ليطابق C#
    @ActCash decimal(18,2), -- تم التعديل ليطابق C#
    @ActDigi decimal(18,2), -- تم التعديل ليطابق C#
    @TotalExp decimal(18,2), -- تم التعديل ليطابق C#
    @Diff decimal(18,2), -- تم التعديل ليطابق C#
    @Status nvarchar(50), -- تم التعديل ليطابق C#
    @f200 int, @f100 int, @f50 int, @f20 int, @f10 int, @f5 int, @f1 int,
    @Payments [dbo].[PaymentTableType] READONLY,
    @Expenses [dbo].[ExpenseTableType] READONLY
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRANSACTION
    BEGIN TRY
        -- 1. جدول الورديات الرئيسي
        INSERT INTO Shift_Settlements (ShiftID, CashierID, CreatedBy_UserID, ShiftDate, ShiftType, SystemAmount, ActualCash, ActualDigital, TotalExpenses, FinalDifference, StatusNote, DeviceID)
        VALUES (@ShiftID, @CashierID, @UserID, @Date, @Type, @SysAmt, @ActCash, @ActDigi, @TotalExp, @Diff, @Status, @DeviceID);

        -- 2. جدول الفئات النقدية
        INSERT INTO Cash_Denominations (ShiftID, F200, F100, F50, F20, F10, F5, F1)
        VALUES (@ShiftID, @f200, @f100, @f50, @f20, @f10, @f5, @f1);

        -- 3. جدول المصروفات
        INSERT INTO Expenses_Details (ShiftID, Reason, Amount, ExpenseDate)
        SELECT @ShiftID, Reason, Amount, @Date FROM @Expenses;

        -- 4. جدول المدفوعات الرقمية
        INSERT INTO Payment_Details (ShiftID, MethodID, Amount, TransDate)
        SELECT @ShiftID, MethodID, Amount, @Date FROM @Payments;

        -- 5. تحديث اللوج وحساب الرصيد (CurrentBalance)
        DECLARE @LastBal decimal(18,2) = ISNULL((SELECT TOP 1 CurrentBalance FROM Safe_Log ORDER BY LogID DESC), 0);
        INSERT INTO Safe_Log (LogDate, ShiftID, TransactionType, AmountIn, AmountOut, CurrentBalance)
        VALUES (@Date, @ShiftID, N'تصفية وردية', @ActCash, @TotalExp, (@LastBal + @ActCash - @TotalExp));

        COMMIT TRANSACTION
    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION
        THROW;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[SP_SEARCH_SETTLEMENTS]    Script Date: 2026-03-03 9:03:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[SP_SEARCH_SETTLEMENTS]
    @From DateTime,
    @To DateTime,
    @ID Int = NULL,
    @Cashier Int = NULL,
    @Type NVarChar(50) = NULL,
    @Device Int = NULL
AS
BEGIN
    SELECT 
        S.ShiftID AS [رقم الوردية],
        S.ShiftDate AS [التاريخ],
        C.CashierName AS [الكاشير],
        S.ShiftType AS [الشيفت], 
        D.DeviceName AS [الجهاز],
        S.ActualCash AS [النقدية],
        S.ActualDigital AS [نظام الدفع],
        S.FinalDifference AS [العجز/الزيادة],
        S.StatusNote AS [الحالة] 
    FROM Shift_Settlements S 
    LEFT JOIN Cashiers C ON S.CashierID = C.CashierID
    -- التعديل هنا: اسم الجدول في السكريبت الخاص بك هو Cashier_Devices وليس Devices
    LEFT JOIN Cashier_Devices D ON S.DeviceID = D.DeviceID 
    WHERE (CAST(S.ShiftDate AS DATE) BETWEEN CAST(@From AS DATE) AND CAST(@To AS DATE))
      AND (@ID IS NULL OR S.ShiftID = @ID)
      AND (@Cashier IS NULL OR S.CashierID = @Cashier)
      AND (@Type IS NULL OR S.ShiftType = @Type)
      AND (@Device IS NULL OR S.DeviceID = @Device)
    ORDER BY S.ShiftDate DESC
END
GO
/****** Object:  StoredProcedure [dbo].[SP_SearchExpenses]    Script Date: 2026-03-03 9:03:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_SearchExpenses]
    @From DATETIME,     -- يأتي من dtpFrom
    @To DATETIME,       -- يأتي من dtpTo
    @Search NVARCHAR(255) -- يأتي من txtSearch
AS
BEGIN
    SET NOCOUNT ON;

    -- تنظيف النص ومعالجة الـ NULL
    SET @Search = LTRIM(RTRIM(ISNULL(@Search, '')));

    SELECT 
        ExpenseID AS [رقم العملية],
        ShiftID AS [رقم الوردية],
        Reason AS [السبب],
        Amount AS [المبلغ],
        ExpenseDate AS [التاريخ]
    FROM Expenses_Details
    WHERE 
        -- الشرط الأول: الفلترة بالتاريخ (إلزامي دائماً)
        (CAST(ExpenseDate AS DATE) BETWEEN CAST(@From AS DATE) AND CAST(@To AS DATE))
        AND 
        -- الشرط الثاني: البحث بالحرف (اختياري)
        -- إذا كان @Search فارغاً، الشرط الأول (1=1) سيتحقق لكل الصفوف
        (@Search = '' OR Reason LIKE N'%' + @Search + N'%')
    
    ORDER BY ExpenseDate DESC;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_UPDATE_ACCOUNT]    Script Date: 2026-03-03 9:03:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 2. إجراء تعديل بيانات حساب
CREATE PROCEDURE [dbo].[SP_UPDATE_ACCOUNT]
    @ID INT,
    @Name NVARCHAR(50),
    @Type NVARCHAR(50)
AS
BEGIN
    UPDATE PaymentMethods 
    SET MethodName = @Name, 
        AccountType = @Type 
    WHERE MethodID = @ID;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_UPDATE_FULL_SETTLEMENT]    Script Date: 2026-03-03 9:03:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 2. إنشاء إجراء التعديل والرقابة (SP_UPDATE_FULL_SETTLEMENT)
CREATE   PROCEDURE [dbo].[SP_UPDATE_FULL_SETTLEMENT]
    @ShiftID decimal(18,0),
    @CashierID int,
    @DeviceID int,
    @UserID int,
    @Date datetime,
    @Type nvarchar(20),
    @SysAmt decimal(18,2),
    @ActCash decimal(18,2),
    @ActDigi decimal(18,2),
    @TotalExp decimal(18,2),
    @Diff decimal(18,2),
    @Status nvarchar(50),
    -- فئات النقدية
    @f200 int, @f100 int, @f50 int, @f20 int, @f10 int, @f5 int, @f1 int,
    -- الجداول الممررة (TVP) باستخدام الأنواع الموجودة في سكريبتك
    @Payments [dbo].[PaymentTableType] READONLY,
    @Expenses [dbo].[ExpenseTableType] READONLY
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRANSACTION
    BEGIN TRY
        -- أ. تسجيل "الخلاصة المخطئة" قبل التحديث
        INSERT INTO [dbo].[Shift_Edit_Log] 
        (ShiftID, UserID, OldCash, OldDigital, OldExpenses, OldSystem, NewCash, NewDigital, NewExpenses, NewSystem)
        SELECT 
            ShiftID, @UserID, ActualCash, ActualDigital, TotalExpenses, SystemAmount,
            @ActCash, @ActDigi, @TotalExp, @SysAmt
        FROM [dbo].[Shift_Settlements] 
        WHERE ShiftID = @ShiftID;

        -- ب. تحديث الجدول الرئيسي
        UPDATE [dbo].[Shift_Settlements] SET 
            CashierID = @CashierID, DeviceID = @DeviceID, ShiftType = @Type,
            SystemAmount = @SysAmt, ActualCash = @ActCash, ActualDigital = @ActDigi,
            TotalExpenses = @TotalExp, FinalDifference = @Diff,
            StatusNote = @Status
        WHERE ShiftID = @ShiftID;

        -- ج. تحديث الفئات النقدية (حذف القديم وإضافة الجديد)
        DELETE FROM [dbo].[Cash_Denominations] WHERE ShiftID = @ShiftID;
        INSERT INTO [dbo].[Cash_Denominations] (ShiftID, F200, F100, F50, F20, F10, F5, F1)
        VALUES (@ShiftID, @f200, @f100, @f50, @f20, @f10, @f5, @f1);

        -- د. تحديث المدفوعات والمصروفات (حذف وإعادة إضافة لضمان التطابق)
        DELETE FROM [dbo].[Payment_Details] WHERE ShiftID = @ShiftID;
        INSERT INTO [dbo].[Payment_Details] (ShiftID, MethodID, Amount, TransDate)
        SELECT @ShiftID, MethodID, Amount, @Date FROM @Payments;

        DELETE FROM [dbo].[Expenses_Details] WHERE ShiftID = @ShiftID;
        INSERT INTO [dbo].[Expenses_Details] (ShiftID, Reason, Amount, ExpenseDate)
        SELECT @ShiftID, Reason, Amount, @Date FROM @Expenses;

        COMMIT TRANSACTION
    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION;
        THROW;
    END CATCH
END
GO
USE [master]
GO
